html {
    overflow-y: hidden;
}

body {
    min-height: 100vh;
}

body,h1 {
    font-family: "Raleway", Arial, sans-serif;
}

h1 {
    letter-spacing: 6px
}

footer {
    margin-bottom: -50px;
}

.w3-row-padding img {
    margin-bottom: 12px
}

.gallery {
    height: 100px;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -30%);
    user-select: none; /* -- Prevent image highlighting -- */
}
  
#image-track > a > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #aaaaaa;
    transition: width 1s;
}

#image-track > a > .image:hover {
    width: 80vmin;
    transition: width 1s;
}

.image {
    transition-timing-function: ease;
}
